/* src/styles.scss */
@import "bootstrap-icons/font/bootstrap-icons.css";



:root {
  --ev-primary: #003E6B;
  --ev-accent:  #2BD4E0;
}

.btn-ev {
  /* Bootstrap ya está como CSS global, puedes extender utilidades si quieres */
  background: var(--ev-primary);
  color: #fff;
  &:hover { filter: brightness(1.05); }
}

.text-accent { color: var(--ev-accent); }

.snack-error {
  // Ajusta a tu brand
  --bg: #1f2937;
  --fg: #fff;
  background: var(--bg) !important;
  color: var(--fg) !important;
}